# Please enter the information when resolving the jira. Lines starting
# with '#' will be ignored, and an empty message aborts the commit.

comment: |
  I've committed the patch to trunk, branch-2, and branch-2.4. Thanks [~@{fields.assignee.name}] for the contribution.

fixVersions: 2.4.0

Hadoop flags:
  - Reviewed
